<div class="modal fade" id="UpdateUsername" tabindex="-1" role="dialog" aria-labelledby="UpdateUsernameLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateUsernameLabel">更新ましょか?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }} {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in form.username.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.username(class="form-control form-control-lg") }} {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-dark", value="アップデイト") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>